@model equipment_store.Models.BrandModel

<div class="col-9-md">
    <form style="width:50%; margin:20px auto" asp-action="Remove" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h2 style="text-align:center">Xác nhận xóa thương hiệu</h2>
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea asp-for="Description" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Description" class="text-danger" />
        </div>
        <div class="form-group">
            <label>Status</label>
            <select asp-for="Status" class="form-control">
                <option value="1">Hiển thị</option>
                <option value="0">Ẩn</option>
            </select>
            <span asp-validation-for="Status" class="text-danger" />
        </div>
        <div class="form-group" style="float:right">
            <a asp-action="Index" class="btn btn-danger btn-sm">Back</a>
            <input value="Remove" type="submit" class="btn btn-success btn-sm" />
        </div>


    </form>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('Description');
    </script>
}
